html,
body {
    box-sizing: border-box;
    background-color: blanchedalmond;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.book {
    border: 1px solid black;
    height: 200px;
}

.book p {
    white-space: pre;
}

.delete {
    border: 1px solid black;
}